<form (ngSubmit)="submitForm()">
  <div class="contin p-4 bg-black h-screen flex flex-col items-center justify-center" dir="rtl">

    <div class="flex flex-col items-center justify-center h-screen w-full pb-5">
      <div class="box-width flex flex-wrap gap-3" style="margin-top: 50px;">
        <span *ngFor="let question of questions;let i = index" class="w-12 h-2 rounded-sm "
        [class.bg-violet-400]="answers[i] !== ''"
        [class.bg-gray-100]="answers[i] === ''" (click)="gotoQuestion(i)"></span>
      </div>
      <div class="card box-width bg-gray-800 p-8 rounded-lg shadow-lg scale-125">
        <h1 class="text-white text-2xl font-bold mb-4">{{title}}</h1>
        <p class="!text-white/60 text-lg mb-4">{{description}}</p>
        <div class="form-container overflow-y-auto scrollbar-thin scrollbar-thumb-blue-500 scrollbar-track-blue-200">
          <!-- Scrollable content goes here -->
          <div class="my-0 mx-auto">
            <div *ngFor="let question of questions; let i = index" [attr.id]="'question-' + i" class="my-4">
              <p class="text-white text-base font-semibold">{{i+1}} {{ question }}</p>
              <label class="block mt-2 text-white text-base">
                <input type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600" name="answer{{ i }}" [(ngModel)]="answers[i]" value="0">
                هرگز
              </label>
              <label class="block mt-2 text-white text-base">
                <input type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600" name="answer{{ i }}" [(ngModel)]="answers[i]" value="1">
                خیلی کم
              </label>
              <label class="block mt-2 text-white text-base">
                <input type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600" name="answer{{ i }}" [(ngModel)]="answers[i]" value="2">
                حدودا
              </label>
              <label class="block mt-2 text-white text-base">
                <input type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600" name="answer{{ i }}" [(ngModel)]="answers[i]" value="3">
                خیلی زیاد
              </label>
            </div>
          </div>
          <!-- Add more content as needed -->
        </div>
      </div>

      <button type="submit" class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded
      mt-3 !w-40">ثبت</button>
    </div>

  </div>
  </form>
   <!-- Notification -->
   <div *ngIf="showNotification" class="fixed bottom-4 right-4 p-4 bg-red-500 text-white rounded-lg shadow-md">
    لطفا به تمامی سوالات پاسخ بدید.
  </div>
